:root {
  /* Colors
  ======================================= */
  --color-primary: #ff4d4d;
  --color-secondary: #131c28;
  --color-secondary-light: #222b37;
  --color-text: #6c6c6c;
  --color-title: #222b37;
  --color-gray: #f5f7ff;
  --color-white: #fff;
  /* Typography 
  =======================================*/
  --font-body: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* font size */
  --fs-xs: 1.4rem;
  --fs-sm: 1.6rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: clamp(4rem, 5vw, 6rem);
  /* Layout
   =======================================*/
  --width-container: 110rem;
  --height-header: 10rem;
  --zindex-menu: 1000;
  --zindex-fixed: 1010;
  /* Effects 
   ======================================= */
  --shadow: 30px 20px 80px 0px #e4edf5;
  --shadow-header: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
  --shadow-menu: -10px 0px 35px 0px rgba(0, 0, 0, 0.06);
  --transition: 0.4s ease-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--color-title);
  font-weight: var(--fw-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
button {
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

main {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  color: var(--color-text);
  margin-top: var(--height-header);
}

/* Reusable classes
   ======================================= */

/* Layout */
.section {
  padding: 10rem 0 8rem;
}

.section__header {
  text-align: center;
}

.section__title {
  display: inline-block;
  font-size: var(--fs-xl);
  position: relative;
  margin-bottom: 5rem;
}

.section__title::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 0.5rem;
  background-color: var(--color-primary);
  transform: translateY(4rem);
}

.container {
  width: 90%;
  max-width: var(--width-container);
  margin: auto;
}

.d-grid {
  display: grid;
  gap: 3rem;
}

/* Components */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding: 1.5rem 3.5rem;
  font-weight: var(--fw-medium);
  transition: var(--transition);
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: var(--color-secondary);
}

/* header
   ======================================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: var(--height-header);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  transition: var(--transition);
  z-index: var(--zindex-menu);
}

.header--scroll {
  box-shadow: var(--shadow-header);
  --height-header: 8rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: var(--fw-semibold);
}

.nav__link {
  position: relative;
  font-size: var(--fs-xs);
  color: var(--color-title);
}

.nav__link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.3rem;
  background-color: var(--color-primary);
  transform: translateY(2.4rem);
  transition: var(--transition);
}

.nav__item:hover .nav__link::before,
.nav__link--active::before {
  width: 100%;
}

.nav__open,
.nav__close {
  font-size: var(--fs-lg);
  color: var(--color-title);
  transition: var(--transition);
  cursor: pointer;
}

.nav__open:hover,
.nav__close:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 967px) {
  .nav__menu {
    background-color: var(--color-white);
    box-shadow: var(--shadow-menu);
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 28rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    z-index: var(--zindex-fixed);
  }

  .nav__list {
    display: grid;
    row-gap: 5rem;
  }

  .nav__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }

  .nav__menu--open {
    right: 0;
  }
}

/* home
   ======================================= */
.home__wrapper {
  min-height: calc(100vh - var(--height-header));
  align-items: center;
  align-content: center;
  padding: 3rem 0;
}

.home__content {
  text-align: center;
}

.home__title {
  font-size: var(--fs-xxl);
  margin-bottom: 2rem;
}

.home__title span {
  color: var(--color-primary);
}

.home__text,
.home__social {
  margin-bottom: 3rem;
}

.social__list {
  display: flex;
  gap: 1rem;
}

.social__link {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-gray);
  font-size: 2rem;
  color: var(--color-secondary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.social__item:hover .social__link {
  color: var(--color-primary);
}

.home__social {
  display: flex;
  justify-content: center;
}

.home__img {
  width: 38rem;
  justify-self: center;
}

/* Services
   ======================================= */
.service__item {
  justify-self: center;
  max-width: 38rem;
}

.service__card {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  padding: 5rem 3.5rem;
  transition: var(--transition);
}

.service__number {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--color-title);
  margin-bottom: 2rem;
}

.service__title {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
}

.service__text {
  margin-bottom: 3rem;
}

.service__link {
  color: var(--color-primary);
  font-weight: var(--fw-semibold);
}

.service__card:hover {
  transform: translateY(-1rem);
  background-color: var(--color-primary);
}

.service__card:hover .service__number,
.service__card:hover .service__title,
.service__card:hover .service__text,
.service__card:hover .service__link {
  color: var(--color-white);
}

/* About
   ======================================= */
.about__content {
  text-align: center;
}

.about__text {
  margin-bottom: 3rem;
}

.about__img {
  justify-self: center;
  width: 40rem;
}

.about__data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5rem;
}

.about__data-number {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--color-title);
  transition: var(--transition);
}

.about__data-item:hover .about__data-number {
  color: var(--color-primary);
}

/* Portfolio
   ======================================= */
.portfolio__wrapper {
  justify-content: center;
  justify-items: center;
}

.portfolio__item {
  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 35rem;
}

.portfolio__info {
  padding: 4rem 3rem 0;
  margin-bottom: 5rem;
}

.portfolio__title {
  margin-bottom: 1rem;
}

.portfolio__link {
  background-color: var(--color-secondary);
  width: 4.5rem;
  height: 4.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: var(--transition);
}

.portfolio__link:hover {
  background-color: var(--color-primary);
}

/* Testimonial
   ======================================= */
.testimonial__wrapper {
  padding: 5rem 0;
}

.testimonial__item {
  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 45rem;
  padding: 5rem;
  margin-bottom: 2rem;
}

.testimonial__text {
  margin-bottom: 3rem;
  font-size: var(--fs-xs);
}

.testimonial__data {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.testimonial__img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-primary);
}

.testimonial__name {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.testimonial__description {
  font-size: var(--fs-xs);
}

.testimonial__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--color-primary);
  font-size: 3rem;
}

.testimonial__wrapper .swiper-wrapper {
  padding-bottom: 5rem;
}

.testimonial__wrapper .swiper-pagination-bullets {
  justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet {
  background-color: var(--color-text);
  width: 1.3rem;
  height: 1.3rem;
}

.testimonial__wrapper .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/* Contact
   ======================================= */
.contact__form {
  width: 100%;
  max-width: 45rem;
  justify-self: center;
  display: grid;
  gap: 2rem;
}

.contact__content {
  text-align: center;
}

.contact__text {
  margin-bottom: 3rem;
}

.contact__data {
  display: grid;
  gap: 3rem;
}

.contact__title {
  font-size: var(--fs-sm);
  margin-bottom: 0.5rem;
}

.form__group {
  display: grid;
}

.form__label {
  margin-bottom: 1rem;
}

.form__input {
  background-color: var(--color-gray);
  border: 0.2rem solid transparent;
  padding: 1.8rem 1rem;
  font: inherit;
  color: var(--color-secondary-light);
  transition: --transition;
}

.form__input:focus {
  border-color: var(--color-primary);
}

.form__textarea {
  resize: none;
  height: 20rem;
}

/* Footer
   ======================================= */
.footer {
  background-color: var(--color-secondary);
  padding: 8rem 0 4rem;
}

.footer__name {
  font-size: var(--fs-xl);
  color: var(--color-white);
  margin-bottom: 2rem;
}

.footer__social-list .social__link {
  background-color: var(--color-secondary-light);
  color: var(--color-white);
}

.footer__title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  color: var(--color-white);
  margin-bottom: 2rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__link,
.footer__address {
  font-size: var(--fs-xs);
  color: var(--color-gray);
  transition: var(--transition);
}

.footer__link:hover,
.footer__address:hover {
  color: var(--color-primary);
}

.footer__copyright {
  border-top: 0.2rem solid var(--color-secondary-light);
  margin-top: 5rem;
  padding-top: 4rem;
  text-align: center;
  color: var(--color-gray);
  font-size: var(--fs-xs);
}

/* Scrollbar
 ======================================= */
::-webkit-scrollbar {
  background-color: var(--color-gray);
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/* Media Queries
 ======================================= */

@media screen and (min-width: 768px) {
  .section__header,
  .home__content,
  .about__content,
  .contact__content {
    text-align: initial;
  }

  .home__wrapper,
  .service__wrapper,
  .about__wrapper,
  .portfolio__wrapper,
  .contact__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .home__social {
    justify-content: initial;
  }

  .about__data {
    grid-column: 1/3;
    margin-top: 5rem;
    justify-content: space-evenly;
    text-align: initial;
  }

  .about__img {
    order: -1;
  }

  .footer__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__copyright {
    text-align: right;
  }
}

@media screen and (min-width: 968px) {
  .nav__list {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .nav__open,
  .nav__close {
    display: none;
  }

  .service__wrapper,
  .portfolio__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
